h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

p, h5 {
  font-family: 'Dosis', sans-serif;
}

header {
  background-image: url('../img/bg_hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 10rem;
}
.sombra {
  text-shadow: 0.06em 0.06em 0.125em #707070;
}
.bg-orange {
  background-color: #FF5733;
}

hr {
  max-width: 70%;
  background-color: #FF5733;
}
